@font-face {
	font-family: 'MyFont';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ExploreWilder-regular-webfont.woff2') format('woff2');
}

html, body {
  	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
	font-size: 1rem;
}

body {
    color: #333;
    min-height: 200px;
    max-width: 768px;
    margin: auto;
    padding: 0 1rem;
    font-family: "MyFont", sans-serif;
    display: flex;
    flex-direction: column;
}

h3.summary {
	margin-top: -0.5rem;
	font-size: 1.1rem;
}

#all-except-footer {
    flex: 1 0 auto;
}

h3 {
	font-size: 1.1rem;
}

h2 {
	font-size: 1.3rem;
}

h2.entry-title {
	margin-top: 0;
	font-size: 1.6rem;
}

h1 {
	font-size: 1.4rem;
}

a, a:visited {
	color: #2e8f6b;
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 0;
}

a:hover {
	color: #29593d;
}

ol#post-list {
    list-style: none;
	padding: 0;
}

article, section#content {
	margin: 2em 0;
}

section#content img {
	max-width: 100%;
	border-radius: 0.2rem;
}

nav#menu ul {
	padding: 0;
}

nav#menu ul li {
	display: inline-block;
	margin: 0.2rem 0;
}

nav#menu ul li a {
	border: 1px solid #333;
	border-radius: 0 .6rem 0 .6rem;
	display: inline-block;
	padding: 0.5rem;
}

footer.post-info {
	font-size: small;
}

nav#menu ul li a.active {
	color: #333;
}

nav#menu ul li a.active:hover {
	color: #29593d;
}

footer#contentinfo {
    flex-shrink: 0;
	padding: 0 0 2em 0;
}
